__research_material
hack
.cache
.coverage
.env
.git
.pytest_cache
.python-version
.tx
*.mo
*.pyc
*.sqlite3
**/__pycache__
**/.DS_Store
**/tests
assets
htmlcov
media
mediafiles
secret.txt
staticfiles

# Ignore files already generated during Docker build
**/node_modules
**/dist

# Ignore all files from iPython Notebooks (used for PoCs)
.ipynb_checkpoints
.ipynotebooks
*ipynb
