[flake8]
ignore = E203, E266, E501, W503
max-line-length = 88
exclude =
    .tx
    .git
    .ipynb_checkpoints/
    __pycache__
    __research_material/
    assets/
    locale/
    htmlcov/
    migrations
    mediafiles/
    node_modules/
max-complexity = 10
