[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
django-debug-toolbar = "==1.9.1"
django-extensions = ">=2.0"
django-livereload-server = "*"
ipython = {extras = ["notebook"]}
watchdog = "*"
Werkzeug = "==0.14.1"

[packages]
Django = "==2.0.5"
django-activity-stream = "*"
django-background-tasks = "*"
"django-bootstrap4" = "*"
django_compressor = "*"
django-configurations = "==2.0.0"
django-libsass = "*"
dj-database-url = "==0.5.0"
bleach = "*"
feedparser = "*"
langcodes = "*"
Markdown = "*"
Pillow = "*"
requests = "*"
whitenoise = "==4.0b4"
python-dateutil = "*"
"psycopg2-binary" = "*"
mysqlclient = "*"
"bs4" = "*"
djangorestframework = ">=3.8.2"

[requires]
python_version = "3.6"
