{% extends "bare.html" %}
{% load i18n static bootstrap4 %}

{% block title %}{{ title }} | {{block.super}}{% endblock %}

{% block content %}
    <img class="img-logo w-50" src="{% static 'dist/img/icon@3x.png' %}" alt="{% trans "Tape Drive Logo" %}">
    <h1 class="mt-4">{{ title }}</h1>

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>


    {% if form.errors.items|length == 1 %}
        {% bootstrap_form_errors form %}

    {# {% else %} #}
        {# <div class="alert alert-danger">{% trans "Please correct the errors below." %} #}
    {% endif %}


    <form method="post">{% csrf_token %}

            {{ form.new_password2.errors }}

        <div class="form-group">
            <label for="id_old_passwordword1" class="sr-only">{% trans "Old password" %}</label>
            <input class="form-control" id="id_old_password" name="old_password" placeholder="{% trans "Old password" %}" required="" title="" type="password">
        </div>

        <div class="form-group">
            <label for="id_new_password1" class="sr-only">{% trans "New password" %}</label>
            <input class="form-control" id="id_new_password1" name="new_password1" placeholder="{% trans "New password" %}" required="" title="" type="password">
            <label for="id_new_password2" class="sr-only">{% trans "Confirm password" %}</label>
            <input class="form-control" id="id_new_password2" name="new_password2" placeholder="{% trans "New password confirmation" %}" required="" title="" type="password">
        </div>
        <button class="btn btn-outline-secondary px-3" type="submit">{% trans "Change my password" %}</button>

    </form>

{% endblock %}
