{% extends "bare.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{block.super}}{% endblock %}

{% block content %}
    <img class="img-logo w-50" src="{% static 'img/icon@3x.png' %}" alt="{% trans "Tape Drive Logo" %}">
    <h1 class="mt-4">{{ title }}</h1>

    {% if validlink %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}
                    {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}

        <div class="form-group">
            <label for="id_new_password1" class="sr-only">{% trans "New password" %}</label>
            <input class="form-control" id="id_new_password1" name="new_password1" placeholder="{% trans "New password" %}" required="" title="" type="password">
            <label for="id_new_password2" class="sr-only">{% trans "Confirm password" %}</label>
            <input class="form-control" id="id_new_password2" name="new_password2" placeholder="{% trans "New password confirmation" %}" required="" title="" type="password">
        </div>
        <button class="btn btn-outline-secondary px-3" type="submit">{% trans "Change my password" %}</button>

    </form>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
