{% extends "bare.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{block.super}}{% endblock %}

{% block content %}
	<img class="img-logo w-50" src="{% static 'img/icon@3x.png' %}" alt="{% trans "Tape Drive Logo" %}">
	<h1 class="mt-4">{{ title }}</h1>

	<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

	<form method="post">
		{% if form.errors %}
			<div class="alert alert-danger">{% trans "Please enter a valid email address." %}</div>
		{% endif %}

		{% csrf_token %}
		<div class="form-group">
			<label for="id_email" class="sr-only">{% trans "Email address" %}</label>
			<input autofocus="" class="form-control" id="id_email" maxlength="254" name="email" placeholder="{% trans "Email address" %}" required="" title="" type="text">
		</div>
		<button class="btn btn-outline-secondary px-3" type="submit">{% trans "Reset my password" %}</button>
	</form>
{% endblock %}
