
$custom-font-path:          "../fonts/";
@import "fonts";

$font-family-sans-serif:    'Fira Sans Extra Condensed', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base:          $font-family-sans-serif;
$headings-font-family:      'PT Sans Narrow', sans-serif;
$font-size-base:            1.15rem;
$font-weight-normal:        300;
$font-weight-bold:          600;

$gray-100: #f8f9fa !default;
$lighter: #dddddd;

$theme-colors: (
  "lighter":    $lighter,
);

@import "../vendor/scss/bootstrap/bootstrap";

.card-img-right {
  border-radius: 0 3px 3px 0;
  max-width: 250px;
  max-height: 250px;
}

#summary p.collapse:not(.show) {
    height: 69px !important;
    overflow: hidden;
    opacity: 0.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#summary p.collapsing {
    min-height: 69px !important;
}

.nav-item.active a {
  color: $nav-tabs-link-active-color;
  background: $nav-tabs-link-active-bg;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

#discover-podcast-card {
  .card-title {
    min-height: 64px;
  }
  .card-text {
    min-height: 64px;
  }
}

.list-group-item, .list-group-item:hover{ z-index: auto; }

@include list-group-item-variant('lighter', #fefefe, #acacac);
@include list-group-item-variant('lightest', #ffffff, #dddddd);
