{% load i18n %}
<div id="summary">
  <p class="collapse" id="podcast-summary-collapse" aria-expanded="false">
    {{podcast.summary}}
  </p>

  <div>
    <a class="btn btn-outline-secondary btn-sm px-3 collapsed" data-toggle="collapse" href="#podcast-summary-collapse" role="button" aria-expanded="false" aria-controls="podcast-summary-collapse"></a>
  </div>

  <style type="text/css">
      #summary a.collapsed:after {content: '{% trans "Show Summary" %}'; }
      #summary a:not(.collapsed):after {content: '{% trans "Hide Summary" %}'; }
  </style>
</div>
