{% load i18n %}
<div class="d-flex justify-content-center flex-wrap mb-4">
  <button type="button"
          data-href="{% url 'podcasts:api-refresh-feed' podcast.slug %}"
          class="btn btn-outline-secondary mt-2 mt-md-0 mx-2 ajax-call-reload">
    {% trans "Refresh Feed" %}
  </button>


  <button type="button"
          data-href="{% url 'podcasts:api-podcast-queue-download' podcast.slug %}"
          class="btn btn-outline-secondary mt-2 mt-md-0 mx-2 download-toggle {% if podcast.downloaded_episodes == podcast.num_episodes %}disabled{% endif %}">
    {% trans "Download Missing Episodes" %}
  </button>
  <div class="btn-group mt-2 mt-md-0 mx-2">
    <button id="subscribe"
            type="button"
            data-href="{% url 'podcasts:api-subscribe' podcast.slug %}"
            class="btn btn-outline-secondary {% if user_is_subscriber %}disabled{% endif %} subscribe-toggle">
      {% trans "Subscribe" %}
    </button>
    <button id="unsubscribe"
            type="button"
            data-href="{% url 'podcasts:api-unsubscribe' podcast.slug %}"
            class="btn btn-outline-secondary {% if not user_is_subscriber %}disabled{% endif %} subscribe-toggle">
      {% trans "Unsubscribe" %}
    </button>
  </div>
</div>
