{% load i18n podcasts_tags humanize %}
<div class="card flex-md-row mb-4">
  <a class="card-full-link" href="{% url 'podcasts:podcasts-details' object.slug %}" aria-label"{% trans "Open Podcast Details" %}"></a>
  {% if object.image %}
    <img class="card-img-top d-md-none" src="{{ object.image.url }}" alt="Card image cap">
  {% endif %}

  <div class="card-body d-flex flex-column align-objects-start">
    <h3 class="card-title">
    {{object.title}}
    </h3>
    {% if object.subtitle %}
      <h6 class="card-subtitle mb-2 text-muted">{{ object.subtitle|safe }}</h6>
    {% endif %}
    {% if object.summary %}
      <p class="card-text text-smaller text-md-normal">
        {{ object.summary | truncatechars_html:450|safe }}
      </p>
    {% endif %}

    <p class="card-text">
      <small class="text-muted">
        {% blocktrans with num_episodes=object.num_episodes %}
        {{num_episodes}} episodes{% endblocktrans %}

        {% if object.num_episodes == object.downloaded_episodes %}
          {% trans "(all downloaded)" %},
        {% elif object.downloaded_episodes == 0%}
          {% trans "(none downloaded)" %},
        {% else %}
          {% blocktrans with downloaded_episodes=object.downloaded_episodes trimmed %}
            ({{downloaded_episodes}} downloaded)
          {% endblocktrans %},
        {% endif %}

        {% blocktrans with time=object.last_episode_date|naturaltime %}
          last one published {{time}}
        {% endblocktrans %}
      </small>
    </p>
  </div>
  <div class="bg-light card-img-container">
    <div class="d-none d-md-flex flex-column h-100 justify-content-center align-objects-center bd-highlight">
      {% if object.image %}
        <img class="card-img-right align-self-start" src="{{ object.image.url }}">
      {% else %}
        <h6 class="mx-3 mt-3 text-muted">{{object.title}}</h6>
        <p class="mx-3 text-muted">{% trans "(No Cover)" %}</p>
      {% endif %}
    </div>
  </div>
</div>
