{% load i18n podcasts_tags %}
<div id="discover-podcast-card" class="card text-center pb-2 mb-3">
  <img class="card-img-top" src="{{item.artworkUrl100}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>

    <button type="button" class="btn btn-outline-primary btn-sm mt-3 mt-md-0 mr-3 mr-sm-0 mr-md-3"
      data-toggle="modal" data-target="#discoverDetails{{item.id}}">{% trans "Show Details" %}</button>
    <a href="#" class="btn btn-outline-secondary btn-sm mt-3 mt-md-0">{% trans "Add To Archive" %}</a>
  </div>
</div>

<!-- Modal{{item.id}} -->
<div class="modal fade" id="discoverDetails{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="discoverDetailsTitle{{item.id}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="img-fluid rounded" src="{{item.artworkUrl100}}" alt="Card image cap">
        <h3 class="mt-3" id="discoverDetailsTitle{{item.id}}">{{item.name}}</h3>
        <h4 class="my-2 text-muted">{{item.artistName}}</h4>

        {% for genre in item.genres %}
          <a href="{{genre.url}}" target="_blank" class="badge badge-primary p-1">{{genre.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
