{% extends "base.html" %}{% load i18n bootstrap4 %}

{% block content %}
<h1>{% trans "Add New Feed" %}</h1>
<div class="row">
  <div class="col mb-4 text-center text-md-left">
    <form action="{% url 'podcasts:podcasts-new' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
          <button type="submit" class="btn btn-primary">{% trans "Add Feed" %}</button>
      {% endbuttons %}
    </form>
  </div>
</div>
<div class="row">
    <div class="col">
        <h3>{% blocktrans %}
            Don't know what to add? Try one of these:
        {% endblocktrans %}</h3>

        <ul class="list-unstyled">
            <li><a href="http://feeds.5by5.tv/killingtime">http://feeds.5by5.tv/killingtime</a></li>
            <li><a href="https://feeds.publicradio.org/public_feeds/in-the-dark/itunes/rss">https://feeds.publicradio.org/public_feeds/in-the-dark/itunes/rss</a></li>

        </ul>
    </div>
</div>


{% endblock content %}
