{% extends "base.html" %}{% load i18n %}

{% block content %}
<div class="row">
  <div class="col mb-4 text-center text-md-left">
    <div class="btn-group" role="group" aria-label="{% trans "Add New Podcasts" %}">
      <a href="#"  class="btn btn-outline-secondary">{% trans "Add Feed" %}</a>
      <a href="#"  class="btn btn-outline-secondary">{% trans "Import OPML" %}</a>
      <a href="#"  class="btn btn-outline-secondary">{% trans "Discover New" %}</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {% for item in items %}
      {% include "_podcast_card.html" %}
    {% endfor %}
  </div>
</div>


{% endblock content %}
