{% extends "base.html" %}{% load i18n %}

{% block title %}
  {% trans "Your Podcasts" %} | {{block.super}}
{% endblock title %}


{% block content %}

{% if object_list %}
  <h1>{% trans "Your Podcasts" %}</h1>
  <div class="row">
    <div class="col">
      {% for object in object_list %}
        {% include "_podcast_card.html" %}
      {% endfor %}
    </div>
  </div>

  {% include "_pagination.html" %}

{% else %}

  <div class="mt-sm-5 offset-md-1 col-md-10 offset-lg-1 col-lg-10 text-center text-md-left">

    <h1 class="mt-md-5">{% trans "Welcome to your future Podcast Archive. 👋 " %}</h1>
    <p class="lead mb-4">{% blocktrans trimmed %}
        Hi! Nice to see you here. It means that you probably like podcasts and hoarding data. Unfortunately your podcast list is currently empty. How about adding some of your favorite feeds?
    {% endblocktrans %}</p>

  <div class="d-md-flex align-items-start">
  <p class="mb-0 d-md-inline-block mb-md-4">
    {% blocktrans trimmed %}
      Tape Drive supports adding single feed URLs and OPML files that you have exported from another podcast client. If you have nothing at hand right now, that's okay, too. We have some suggestions for you as well.
    {% endblocktrans %}
  </p>
  <div class="ml-3 text-center">
    <h3>👇</h3>
    <a href="{% url 'podcasts:podcasts-new' %}" class="btn btn-outline-secondary btn-lg mb-4 mb-md-1 px-4">
      {% trans "Add Feeds" %}
    </a>
  </div>
</div>
{% endif %}



{% endblock content %}
