{% extends "base.html" %}{% load i18n bootstrap4 podcasts_tags %}

{% block content %}
<h1>{% trans "Add New Podcasts" %}</h1>
<div class="row">
  <div class="col mb-4 text-center text-md-left">
    <form enctype="multipart/form-data" action="{% url 'podcasts:podcasts-new' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
          <button type="submit" class="btn btn-secondary btn-lg mt-3">{% trans "Add Podcasts" %}</button>
      {% endbuttons %}
    </form>
  </div>
</div>
<div class="app">
  <apple-podcasts-search></apple-podcasts-search>
  <apple-podcasts-top-results></apple-podcasts-top-results>
</div>

{% include "_podcast_card_search_modal.html" %}
{% include "_podcast_card_search_jqt.html" %}

{% endblock content %}
