
$custom-font-path:          "#{$custom-font-path}" !default;

/* pt-sans-narrow-700 - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('#{$custom-font-path}pt-sans-narrow-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('#{$custom-font-path}pt-sans-narrow-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$custom-font-path}pt-sans-narrow-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$custom-font-path}pt-sans-narrow-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('#{$custom-font-path}pt-sans-narrow-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$custom-font-path}pt-sans-narrow-v8-latin-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

/* fira-sans-condensed-300 - latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('#{$custom-font-path}fira-sans-condensed-v2-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Light'), local('FiraSansondensed-Light'),
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300.svg#FiraSansondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-300italic - latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('#{$custom-font-path}fira-sans-condensed-v2-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Light Italic'), local('FiraSansondensed-LightItalic'),
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-300italic.svg#FiraSansondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-700 - latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('#{$custom-font-path}fira-sans-condensed-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Bold'), local('FiraSansondensed-Bold'),
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700.svg#FiraSansondensed') format('svg'); /* Legacy iOS */
}
/* fira-sans-condensed-700italic - latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('#{$custom-font-path}fira-sans-condensed-v2-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Bold Italic'), local('FiraSansondensed-BoldItalic'),
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$custom-font-path}fira-sans-condensed-v2-latin-700italic.svg#FiraSansondensed') format('svg'); /* Legacy iOS */
}
