{% load i18n staticfiles podcasts_tags %}
<div class="container d-flex flex-column flex-md-row align-items-center">
  <a class="d-flex align-items-center align-items-center align-items-md-center site-title" href="{% url 'podcasts:index' %}">
    <img class="img-logo" src="{% static 'dist/img/icon@2x.png' %}" alt="">

    <h1>
      {% trans "Tape Drive" %}
      <small class="d-block d-md-inline-block text-muted">{% trans "Podcast Archive" %}</small>
    </h1>

  </a>
  <ul class="nav justify-content-center mt-2 mt-md-0 ml-md-auto">
    {% if user.is_authenticated %}
    <li class="nav-item {% add_active 'podcasts:podcasts-new' %}">
      <a class="nav-link"
        href="{% url 'podcasts:podcasts-new' %}">
        {% trans "Add Feeds" %}
      </a>
    </li>
    <li class="nav-item {% add_active 'podcasts:podcasts-list' %}">
      <a class="nav-link"
        href="{% url 'podcasts:podcasts-list' %}">
        {% trans "Podcasts" %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'podcasts:activity-list' %}">
        {% trans "Activity" %}
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% add_active 'podcasts:settings' %}" href="#" role="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "User" %}</a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <h6 class="dropdown-header pb-0">{% trans "Logged in as" %}</h6>
        <p class="mx-4 mb-2">{{user.username|title}}</p>
        <div class="dropdown-divider"></div>
        {% if user.is_superuser %}
          <a class="dropdown-item" href="{% url "admin:index" %}">{% trans "Administration" %}</a>
        {% endif %}
        <a class="dropdown-item" href="{% url "podcasts:settings" %}">{% trans "Settings" %}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url "logout" %}">{% trans "Log out" %}</a>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
