{% extends 'base.html' %}{% load i18n %}

{% block extra_head %}
	{{block.super}}
	<style>html, body { height: 100% }</style>
{% endblock extra_head %}

{% block body %}
<body class="h-100 d-flex align-items-center py-5 text-center {% if request.user.listener.dark_mode %}darkened{% endif %}">

	<div class="form-signin">
		{% block content %}
		{% endblock content %}
  	</div>

    <div class="backdrop"></div>
    {% if DEBUG_FRONTEND %}
        <script src="{% static 'dist/js/base.js' %}"></script>
    {% else %}
        <script src="{% static 'dist/js/base.min.js' %}"></script>
    {% endif %}
</body>
{% endblock body %}
