<!DOCTYPE html>{% load i18n staticfiles podcasts_tags %}{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <head>
    <title>{% block title %}{% trans "Tape Drive" %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dist/css/main.css' %}" type="text/css" media="all" charset="utf-8">


    {% block load_javascript %}
      <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    {% endblock load_javascript %}

    {% block extra_head %}{% endblock extra_head %}

  </head>
  {% block body %}
    <body {% if request.user.listener.dark_mode %}class="darkened"{% endif %}>
      <div class="wrapper">

      <header id="navbar" class="border-bottom pt-3 p-md-2 mb-3">
        {% block header %}
          {% include "_navbar.html" %}
        {% endblock header %}
      </header>

      <main role="main" class="container pt-3">
        {% include "_messages.html" %}
        {% block content %}{% endblock content %}
      </main>

      {% block post_content %}{% endblock post_content %}
      </div>

      <div class="backdrop backdrop-static backdrop-lighter"></div>
      <footer class="footer">
        <div class="container">
          <small class="my-0 text-muted">
            {% blocktrans %}
              <a class="text-muted" href="https://tapedrive.io">Tape Drive</a> is licensed under the Apache License 2.0. Thank you for using it.
             {% endblocktrans %}
             {# {{request.site.name}} #}
          </small>
        </div>
      </footer>

      {% if DEBUG_FRONTEND %}
        <script src="{% static 'dist/js/base.js' %}"></script>
      {% else %}
        <script src="{% static 'dist/js/base.min.js' %}"></script>
      {% endif %}

    </body>
  {% endblock body %}
</html>
