<!DOCTYPE html>{% load i18n staticfiles podcasts_tags %}
<html>
  <head>
    <title>{% block title %}{% trans "Tape Drive" %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load compress %}
    {% compress css %}
      <link rel="stylesheet" href="/static/scss/main.scss" type="text/x-scss" charset="utf-8">
    {% endcompress %}


    {% block load_javascript %}
      <script {% if not debug %}defer{% endif %} src="{% static 'vendor/js/jquery-3.3.1.min.js' %}"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
      <script defer src="{% static 'vendor/js/popper.1.14.3.min.js' %}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"></script>
      <script defer src="{% static 'vendor/js/bootstrap/bootstrap.min.js' %}"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"></script>
        <script defer src="{% static 'vendor/js/holder.min.js' %}"></script>
        {# <script defer src="{% static 'vendor/js/jquery-ui/jquery-ui.min.js' %}"></script> #}
        <script defer src="{% static 'js/logic.js' %}"></script>
    {% endblock load_javascript %}

    {% block extra_head %}{% endblock extra_head %}

  </head>
  {% block body %}
    <body>
      <header id="navbar" class="border-bottom pt-3 p-md-2 mb-3">
        {% block header %}
          {% include "_navbar.html" %}
        {% endblock header %}
      </header>

      <main role="main" class="container pt-3">
        {% include "_messages.html" %}
        {% block content %}{% endblock content %}
      </main>

      {% block post_content %}{% endblock post_content %}

      <div class="backdrop backdrop-static backdrop-lighter"></div>

      <footer class="footer">
        <div class="container">
          <small class="my-0 text-muted">
            {% blocktrans %}
              <a href="http://tapedrive.io">Tape Drive</a> is licensed under the Apache License 2.0. Thank you for using it.
             {% endblocktrans %}
             {# {{request.site.name}} #}
          </small>
        </div>
      </footer>
    </body>
  {% endblock body %}
</html>
